{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <table style="width:100%">
		  <tr>
		    <th>Id</th>
		    <th>Title</th> 
		    <th>Status</th>
		  </tr>

		  {% for post in posts %}
 			<tr>
			    <td>{{ post.id }}</td>
			    <td>{{ post.title }}</td> 
			    {% if post.status == 1 %}
			    	<td> Validé </td>
			    {% else %}
			    	<td><a href="/admin/posts/activate/{{ post.id }}">Mettre en ligne</a></td>
			    {% endif %}
		  	</tr>
		  {% endfor %}
		</table>
    </div>
{% endblock %}