{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1> Mon compte </h1>
    </div>

  <h4>Mes articles validés</h4>
   <table class="table table-striped table-hover mb-5">
          <tr>
            <th>Id</th>
            <th>Title</th> 
            <th>Status</th>
          </tr>

          {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td> 
                {% if post.status == 1 %}
                    <td> Validé </td>
                {% else %}
                    <td><a href="/post/{{ post.id }}">Voir</a></td>
                {% endif %}
            </tr>
          {% endfor %}
        </table>
{% endblock %}